/* приклад at-правила */
/* @charset "utf-8"; */

@import "./reset.css" screen, print;
@import './screen.css' screen;
@import './print.css' print;

:root {
  --default-font-size: 20px;
  font-size: var(--default-font-size);
}

body {
  /* background-color: lime; */
  font-size: 1.5rem;
}

.main-heading {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
}

.text {
  font-family: "Oswald", sans-serif;
}

/* em, rem */

.wrapper {
  padding: 10px;
  font-size: 50px;
}

.inner {
  padding: 10px;
  font-size: 2em;
}

.article-text {
  /* font-size: 2rem; */
  /* 20px * 2 */
  font-size: calc(20px * 2);
  font-size: calc( var(--default-font-size) * 2);
  /* padding: calc(5% + 10px); */
}

