/* приклад at-правила */
/* @charset "utf-8"; */

@import "./reset.css";
@import "./fonts.css";

:root {
  --default-font-size: 20px;
  font-size: var(--default-font-size);
}

.main-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;

  font-family: coolest, "Times New Roman", Times, serif;
}

.text {
  font-family: "Oswald", sans-serif;
}

/* em, rem */

.wrapper {
  border: 5px solid black;
  padding: 10px;
  font-size: 50px;
}

.inner {
  border: 5px dashed black;
  padding: 10px;
  font-size: 2em;
}

.article-text {
  /* font-size: 2rem; */
  /* 20px * 2 */
  font-size: calc(20px * 2);
  font-size: calc( var(--default-font-size) * 2);
  /* padding: calc(5% + 10px); */
}
