/* 
  універсальний селектор
  спеціфічність  = 0
*/
* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}


.blog-article {
  /* ширина коробки / контенту */
  width: 600px;
  /* висота коробки / контенту */
  /* height: 300px; */

  /* padding - внутрішні відступи */

  /* ставить однакові відступи по всім сторонам */
  padding: 15px;

  /* 
    padding-top: 15px;
    padding-right: 15px; 
    padding-bottom: 15px;
    padding-left: 15px;
  */

  /* вертикальні та горизонтальні записи */
  /* padding: 20px 40px; */

  /* 
    padding-top: 20px;
    padding-right: 40px; 
    padding-bottom: 20px;
    padding-left: 40px;
  */

  /* зверху / горизонталь / знизу */
  /* padding: 10px 30px 50px; */

  /* 
    padding-top: 10px;
    padding-right: 30px; 
    padding-bottom: 50px;
    padding-left: 30px;
  */

  /* зверху / справа / знизу / зліва */
  /* padding: 20px 40px 60px 80px; */

  /* 
    padding-top: 10px;
    padding-right: 30px; 
    padding-bottom: 50px;
    padding-left: 30px;
  */

  /* border - рамка елемента */
  border: 5px solid black;
  

  /*
    border-width: 5px;
    border-style: solid;
    border-color: black; (за замовчанням береться колір тексту)
  */

  /* border-top-width: 20px;
  border-top-style: double;
  border-top-color: blue; */

  /* border-top: 20px double blue; */

  background-color: dodgerblue;

  /* margins - зовнішні відступи */
  /* margin: 50px; */


}

.top-elem {
  /* margin-bottom: 100px; */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
} 

.middle-elem {
  margin-top: 20px;
  margin-bottom: 40px;
}

.bottom-elem {
  margin-top: -30px;
  margin-left: 120px;
}

.blog-heading {
}

.blog-text {
}
