* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  /* 1 */
	/* flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: flex-end; */
  /* 2 */
  /* flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
  /* 3 */
  /* flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; */

  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;

  justify-content: flex-start;
  align-items: flex-start;

  background-color: dodgerblue;
  border: 10px solid black;
  height: 900px;
}

.flex-child {
  /* width: 150px;
  height: 150px; */
  padding: 50px;
  background-color: darkblue;
  color: white;
  font-size: 32px;
  border: 10px dotted red;
  text-align: center;
  font-weight: bold;
}

.flex-child:nth-child(3) {
  height: 250px;
}