* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: dodgerblue;
  border: 10px solid black;
  height: 1000px;
}

.flex-child {
  /* width: 150px; */
  height: 150px;
  background-color: darkblue;
  color: white;
  font-size: 32px;
  border: 10px dotted red;
  text-align: center;
  font-weight: bold;
}