* {
  box-sizing: border-box;
}

.img {
  width: 600px;
  height: 600px;
  border: 10px solid red;

  /* скруглення елементів */
  /* border-radius: 15px; */
  border-radius: 50%;

  object-fit: cover;
}

.top {
  /* object-position: top left; */
  object-position: 0 20px;
}

.right {
  /* object-position: right; */
  object-position: -200px;
}

.wrapper {
  /* width: 1500px; */
  height: 2000px;
  background-color: aqua;
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;

  background-size: cover;
  background-position: top;
}

.bad-img {
  display:  inline-block;
  width: 600px;
  height: 600px;

  border-radius: 50%;
  border: 10px solid red;

  background-image: url('../images/cat.jpg');
  background-repeat: no-repeat;

  background-size: cover;
  background-position: -200px;
}