* {
  box-sizing: border-box;
}

.wrapper {
  width: 900px;
  height: 700px;
  /*  
    переповнення
    visible | hidden | scroll | auto 
  */
  overflow: auto;

  /* overflow-y: hidden;
  overflow-x: scroll; */
  border: 10px solid black;
  background-color: dodgerblue;
  padding: 20px;
  margin-bottom: 10px;
}

.inner {


  border: 10px dotted red;
  background-color: blanchedalmond;
  padding: 10px;
}

.btn {
  min-width: 300px;
  max-width: 600px;
  width: 100%;

  /* height: 40px; */
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: black;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flexible {
  margin-top: 20px;
  padding: 25px;
  background-color: teal;
  color: white;
  font-size: 32px;

  /* width: 300px;
  height: 100px; */

  /* 
    min-width, min-height
  */
  min-width: 7000px;
  min-height: 150px;
  /* 
    max-width, max-height
  */
  max-width: 2000px;
  max-height: 500px;



  /* width: 3000px;
  height: 50000000000px; */
}