/* комбінатор кома, зоволяє додавати однакові властивості кільком селекторам одночасно */
.p,
.li,
.link {
  font-size: 32px;
}

/* .class,
.class2 {
  min-width: 50px;
}

.class {
  max-height: 180px;
} */

/* 
  селектор нащадків (пробіл) 
  обирає всі елементи у найправішому селекторі які знаходяться в лівішому селекторі
  специфічність є сумою специіфчності селекторів
*/
article p,
article span,
article p .span {
  color: orange;
}

/* Селектор дітей 
  обирає всі елементи у найправішому селекторі які безпосередньо знаходяться в лівішому селекторі
  специфічність є сумою специіфчності селекторів
*/
article > p,
body > article > span {
  font-size: 40px;
}

/* 
  Селектор всіх сусідніх елементів
  Стилі застовуються для всіх правих частин комбінатора, перед якими йде ліва частина комбінатора
*/
h1 ~ p {
  background-color: darkcyan;
}

/* 
  селектор прямих сусідів
  Стилі застовуються для всіх правих частин комбінатора, ПРЯМО перед якими йде ліва частина комбінатора
*/
h1 + p {
  text-transform: uppercase;
}

li {
  display: inline-block;
}

/* .list-item + .list-item, */
li + li {
  margin-left: 10px;
}

/* 
  шукає елемент a з
    класами class1 і class2
    атрибутом href
    id item

    специціфчність сума = 131
*/
a.class1.class2[href]#item {
}

/* сеелектори за атрибутами */

/* селектор всіх елементів у яких є атрибут title */
/* специфічність 10 */
[title] {
  color: green;
}

/* селектор всіх елементів у яких є атрибут title з чітко вказаним значенням */
[title="special text"] {
  font-weight: bold;
}

/* селектор всіх елементів у яких є атрибут title частина якого є вказаним значенням, відділеним пробілами від інших слів */
[title~="secret"] {
  font-style: italic;
}

/* селектор всіх елементів у яких є атрибут title з чітко вказаним значенням 
  АБО розпочинається зі значення після якого одразу йде - без проблів
*/
[title|="start"] {
  font-size: 60px;
}

/* селектор всіх елементів у яких є атрибут title і який розпочинається зі значення */
[title^="start"] {
  background-color: dodgerblue;
}

/* селектор всіх елементів у яких є атрибут title і який закінчується вказаним значенням */
[title$="end"] {
  border: 5px solid red;
}

/* селектор всіх елементів у яких є атрибут title частина якого є вказаним значенням */
[title*="secret"] {
  text-decoration: underline solid black;
}

.var-container {
  /* CSS - змінна, зберігає певне значення у собі */
  /* локальні змінні, які працюють у селекторі і його нащадках */
  /* --main-color: purple; */

  --text-color: var(--light-text-color);
  background-color: var(--light-bg-color);
  
}

html {
  /* глобальні змінні, які працюють у кожному елементі */
  --green-color: green;
  --purple-color: purple;

  --light-text-color: black;
  --dark-text-color: white;

  --light-bg-color: white;
  --dark-bg-color: black;

  --text-size: 24px;
}

.color1 {
  /* застосування змінної */
  color: var(--text-color);
  font-size: var(--text-size);
}

.color2 {
  color: var(--text-color);
}
