p {
  font-size: 24px;
}

li {
  font-size: 24px;
}

/* сеелектори за атрибутами */

/* селектор всіх елементів у яких є атрибут title */
/* специфічність 10 */
[title] {
  color: green;
}

/* селектор всіх елементів у яких є атрибут title з чітко вказаним значенням */
[title="special text"] {
  font-weight: bold;
}

/* селектор всіх елементів у яких є атрибут title частина якого є вказаним значенням, відділеним пробілами від інших слів */
[title~="secret"] {
  font-style: italic;
}

/* селектор всіх елементів у яких є атрибут title з чітко вказаним значенням 
  АБО розпочинається зі значення після якого одразу йде - без проблів
*/
[title|="start"] {
  font-size: 60px;
}

/* селектор всіх елементів у яких є атрибут title і який розпочинається зі значення */
[title^="start"] {
  background-color: dodgerblue;
}

/* селектор всіх елементів у яких є атрибут title і який закінчується вказаним значенням */
[title$="end"] {
  border: 5px solid red;
}

/* селектор всіх елементів у яких є атрибут title частина якого є вказаним значенням */
[title*="secret"] {
  text-decoration: underline solid black;
}
