/* Коментар в css */

h1 {
  /* font-size: 16px;
        font-weight: normal; */
  /* text-align: center; */
}

button {
  /* 
          кервування регістром тексту
          none | capitalize | uppercase | lowercase
        */
  /* text-transform: uppercase; */
}

a {
  /* 
          підкреслення тексту 

        */
  /* text-decoration: none; */
  /* text-decoration: line-through underline overline green wavy 3px; */

  /* 
        вид лінії, можна вказувати декілька
        none | underline | overline | line-through 
        */
  /* text-decoration-line: line-through underline overline; */

  /* 
          колір ліній
        */
  /* text-decoration-color: green; */

  /* 
          вид ліній
          solid | double | dotted | dashed | wavy
        */
  /* text-decoration-style: wavy; */

  /* товщина ліній */
  /* text-decoration-thickness: 3px; */
}

/* селектор за типом тегу 
  1
*/
/* це правило працює для ВСІХ параграфів на сторінці */
p {
  /* колір тексту */
  /* color: red; */
  /* color: rgb(255, 0, 0); */

  /* 
          rgb з альфа каналом 
          1- непрозорий
          0- прозорий
        */
  /* color: rgba(255, 0, 0, 1); */

  /*
          hexadecimal 16 цифр

          0123456789
          a 10
          b
          c
          d
          e
          f 15

          13 = 1 * 10^1+ 3 * 10^0

          13 = 1* 16^1  3 * 16^0 = 16 + 3 = 19

          ff =  15 * 16^1 + 15 *1 = 255
        */

  /* color: #ff0000;
  /* колір фону */
  /* background-color: rgb(40,40,40); */
  /* розмір шрифта */
  /* 
          1px = 1 / 96 дюйма

          1 дюйм = 96 пікселів.

          1 дюйм мобілок = 300 - 400 пікселів.
        */
  /* font-size: 32px; */

  /* висота лінії тексту  */
  /* line-height: 1.5; */

  /* жирнота тексту */
  /* font-weight: bold; (700) */
  /* font-weight: normal (400) */

  /* 
          курсивність шрифту
          normal | italic | oblique 
        */
  /* font-style: italic; */

  /* сімейство шрифта */
  /* font-family: Roboto; */

  /* 
        вирівнювання тексту 
        left | right | center | justify 
        */
  /* text-align: justify; */
}

/* 
  селектор по id 
  100
*/
#div {
  /* color: dodgerblue; */
}

/* 
  селектор класу 
  10
*/
.div {
  font-size: 24px;
}

.aqua-text {
  color: aqua;
}

.big-text {
  color: green;
  font-size: 40px;
}

.article {
  font-size: 40px;
  color: green;
  border: 5px solid red;
}

.article-heading {
  /* примусове успадкування */
  border: inherit;
  /* border: unset;  повертає значення за замовчанням для властивості*/
}

.article-text {
  /* відмова від успадкування */
  font-size: 10px;
  color: initial;
}

.link {
  text-decoration: none;
  color: inherit;
}