* {
  box-sizing: border-box;
}

.section,
.section-big {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  margin: 10px auto;
  transition: transform 0.5s linear;
  background-color: aquamarine;
}

.section-heading {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.translate {
  transition: transform 0.5s linear;
}

.translate:hover {
  /* переміщую об'єкт  по сторінці використовуючи координати X та Y */
  /* transform: translateX(-50px) translateY(100px);   */
  transform: translate(-50px, 100px);
  background-color: aquamarine;
}

.section-big {
  width: 1000px;
  height: 738px;
  position: relative;
}

.translate-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid green;
  width: 250px;
  height: 250px;
}

.scale {
  background-color: aquamarine;
}

.scale:hover {
  /* керує масштабуванням по осі X та Y  1 - нормальний розмір */
  /* може приймати і негативні значення */
  transform: scale(2,2);
  /* transform: scaleX(2) scaleY(2); */
  /* transform: scale(0.5, 0.5);
  transform: scale(-1, 1);
  transform: scale(1, -1); */
}


.rotate:hover {
/* дозволяе повертати елемент на вказане значення за годинниковою стрілкою
    якщо значення негативне - то проти
  */
  
  transform: rotate(-45deg);
  /* transform: rotate(-0.5turn);
  transform: rotate(-0.5rad); */
}

.skew:hover {
  /* розтягую елемент по осям */
  /* transform: skew(-30deg, 50deg); */
  transform: skewX(-30deg) skewY(50deg);
}