* {
  box-sizing: border-box;
}

.section,
.section-big {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  margin: 10px auto;
  transition: transform 0.5s linear;
  background-color: aquamarine;
  transform-origin: top;
}

.section-heading {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.translate {
  transition: transform 0.5s linear;
}

.translate:hover {
  /* переміщую об'єкт  по сторінці використовуючи координати X та Y */
  /* transform: translateX(-50px) translateY(100px);   */
  transform: translate(-50px, 100px);
  background-color: aquamarine;
}

.section-big {
  width: 1000px;
  height: 738px;
  position: relative;
}

.translate-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid green;
  width: 250px;
  height: 250px;
}

.scale {
  background-color: aquamarine;
}

.scale:hover {
  /* керує масштабуванням по осі X та Y  1 - нормальний розмір */
  /* може приймати і негативні значення */
  transform: scale(2, 2);
  /* transform: scaleX(2) scaleY(2); */
  /* transform: scale(0.5, 0.5);
  transform: scale(-1, 1);
  transform: scale(1, -1); */
}

.rotate:hover {
  /* дозволяе повертати елемент на вказане значення за годинниковою стрілкою
    якщо значення негативне - то проти
  */

  transform: rotate(-45deg);
  /* transform: rotate(-0.5turn);
  transform: rotate(-0.5rad); */
}

.skew:hover {
  /* розтягую елемент по осям */
  /* transform: skew(-30deg, 50deg); */
  transform: skewX(45deg) skewY(45deg);
}

.perspective-3d-child {
  /* вмикаємо 3д режим для конкретного елемента */
  transform: perspective(500px);
}

.perspective-3d-parent {
  /* вмикаємо 3д режим для всіх прямих нащадків конкретного елементу */
  perspective: 500px;
}

.translate-3d:hover {
  /* до х та у  дадається переміщенн по вісі z
    позитивні значення тягнуть ближче о нас, негативні далі від нас
    значення більше перспективи заносяь елемент за видиму частину сайту
  */
  transform: translate3d(0, 0, -450px);
  /* transform: translateZ(-450px); */
}

.scale-3d:hover {
  /* масштабує елемент по трьом вісям, щоб побачити зміни у z 
  треба скористатися іншими перетвореннями для цієї вісі */
  transform: scale3d(1, 1, 0.5) translateZ(500px);
}

.rotate-3d:hover {
  /* 
    обертаємо елемент у трьох вимірах
    перші три значення - коефіціенти х, у та z для формування вектора напрямку
    четверте - на скільки градусів крутитися
  */
  transform: rotate3d(-7, 20, 10, 30deg);
}


.transform-3d {
  background-color: rgba(255,0,0, 0.3);
  /* 
    змінює поведінку 3д дітей до батька
  */
  /* transform-style: flat; */
  transform-style: preserve-3d;
}

.section-body {
  position: relative;
  transform-style: preserve-3d;
}

.section-back,
.section-front {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 40px;
}
 
.section-front {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: lime;
  /* керує видимістю задньої частини елементу
  visible | hidden
  */
  backface-visibility: hidden;
}

.section-back {
  transform: rotateY(-180deg);
}

.transform-3d:hover .section-body {
  transform: rotateY(-180deg);
}