* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  display: inline-block;
  background-color: dodgerblue;
  width: 100vmin;
  /* height: 1200px; */
  height: 100vmin;
  color: white;
  font-size: 24px;
}

.inner {
  text-align: center;
  background-color: darkcyan;
  border: 5px solid black;
  font-size: 32px;
  /* width: 50%; */
  /*
    viewport height - vh
    viewport width - vw

    відсотки від мінімальної сторони вьюпорта - vmin 
    відсотки від максимальної сторони вьюпорта - vmax
   */
  /* width: 50vw;
  height: 50vh; */

  width: 30vmax;
  height: 30vmax;
  padding: 10%;
  margin: 0 auto;
}