* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  display: inline-block;
  background-color: dodgerblue;
  width: 100vh;
  /* height: 1200px; */
  height: 110vh;
  color: white;
  font-size: 24px;
}

.inner {
  text-align: center;
  background-color: darkcyan;
  border: 5px solid black;
  font-size: 32px;
  /* width: 50%; */
  /*
  viewport height - vh
   viewport width - vw
   */
  width: 50vw;
  height: 50vh;
  padding: 10%;
  margin: 0 auto;
}